<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {posts}
            <div class="blog-post">
                <h2 class="blog-post-title">{title}</h2>
                <p class="blog-post-meta">
                    <span>
                        <a href="/busqueda/categoria/{category_url}" rel="category tag">{category}</a>
                    </span>
                    <span>
                        <a href="#N" rel="bookmark">
                            <time class="entry-date published" datetime="{created_on_utc}">
                                {created_on} </time>
                            <time class="updated" datetime="{updated_on_utc}">
                                {updated_on} </time>
                        </a>
                    </span>
                </p>
                <div class="blog-post-image" style="background-image: url('{main_img}');"></div>
                <div class="blog-post-body">
                    {summary}
                </div>
                <div class="blog-read-more">
                    <a href="/{pretty_url}.html" class="btn btn-outline-dark">Leer Más</a>
                </div>
            </div>
            <!-- /.blog-post -->
            {/posts}

            <div class="row">
                <div class="col-12">
                    {pagination}
                </div>
            </div>

        </div>
        <!-- /.blog-main -->

        {sidebar}

    </div>
    <!-- /.row -->

</main>
<!-- /.container -->