{entry}
<div class="entry-header">
    <h1 class="entry-title">{title}</h1>
    <div class="entry-meta below-title">
        <span class="cat-links">
            <span class="prefix">
                en </span>
            <a href="/busqueda/tag/{friendly_url}" rel="category tag">{main_tag}</a>
        </span>
        <span class="posted-on">
            <span class="prefix">
                on </span>
            <a href="#N" rel="bookmark">
                <time class="entry-date published" datetime="{created_on_utc}">
                    {created_on} </time>
                <time class="updated" datetime="{updated_on_utc}">
                    {updated_on} </time>
            </a>
        </span>
        <span class="comment-link">
            <span class="prefix">
                with </span>
            <a href="#comments">{num_comments} Comentarios</a>
        </span>
        <span class="entry-share dropdown show">
            <a href="#N" class="entry-share-text btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Compartir </a>

            <div class="entry-share-wrap dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="share-facebook" rel="nofollow" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.juledehule.com.mx/{pretty_url}.html&amp;t={share_desc}"
                    title="Share this post on Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                </a>

                <a class="share-twitter" rel="nofollow" target="_blank" href="http://twitter.com/home?status=Échale%20un%20ojo%20a:%20'http://www.juledehule.com.mx/{pretty_url}.html"
                    title="Comparte este post con tus seguidores">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Twitter
                </a>

                <a class="share-pinterest" rel="nofollow" target="_blank" href="https://pinterest.com/pin/create/button/?url=http://www.juledehule.com.mx/{pretty_url}.html&amp;media={main_img}&amp;description={share_desc}">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    Pinterest</a>

                <a class="share-gplus" rel="nofollow" target="_blank" href="https://plus.google.com/share?url=http://www.juledehule.com.mx/{pretty_url}.html/"
                    title="Comparte en Google+">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    Google+
                </a>

                <a class="share-mail" rel="nofollow" target="_blank" href="mailto:?subject=Échale+un+ojo+a+este+post&amp;body=Te+comparto+este+post%20:%20{share_desc}%20-%20http://www.juledehule.com.mx/{pretty_url}.html/"
                    title="Enviar email a un amigo">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    Email</a>
            </div>
            <!-- .entry-share-wrap -->
        </span>
        <!-- .entry-share -->
        <span class="entry-like">
            <a href="#" class="dot-irecommendthis" id="dot-irecommendthis-43" title="Recommend this">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="dot-irecommendthis-count">{num_likes}</span>
            </a>
        </span>
    </div>
</div>
</div>
<main role="main" class="container entry">
    <div class="row">
        <div class="featured-image" style="background-image: url('{main_img}');"></div>
        <article id="post-43" class="post-43 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-list tag-smile tag-travel">


            <div class="entry-content">
                {content}
            </div>
        </article>
    </div>
    <!-- /.row -->

    <div class="row">
        <nav class="nav-single col-12 row">
            {prevPost}
            <div class="nav-previous col-xs-12 col-sm-12 col-md-5 {oclass}">
                <a class="nav-image-link" href="{opretty_url}.html" style="background-image:url('{omain_img}');"></a>

                <div class="nav-desc">
                    <h4>Anterior Post</h4>
                    <a href="{opretty_url}.html" rel="prev">
                        <span class="meta-nav">←</span> {otitle}</a>
                </div>
            </div>
            {/prevPost}
            <div class="nav-separator d-xs-none d-sm-none d-md-block col-2"></div>
            {nextPost}
            <div class="nav-next col-xs-12 col-sm-12 col-md-5 {oclass}">
                <div class="nav-desc">
                    <h4>Siguiente Post</h4>
                    <a href="{opretty_url}.html" rel="next">{otitle}
                        <span class="meta-nav">→</span>
                    </a>
                </div>
                <a class="nav-image-link" href="{opretty_url}.html" style="background-image:url('{omain_img}');"></a>
            </div>
            {/nextPost}
        </nav>
    </div>

    <div class="row d-none">
        <div class="related-posts">
            <h3 class="widget-title">
                <span>Quizás también te guste </span>
            </h3>
            <div class="blocks row">
                <div class="block" style="background-image: url(http://themes.pixelwars.org/theblogger/john/wp-content/uploads/sites/14/2016/08/13-550x550.jpg);">
                    <header class="entry-header ready">
                        <div class="entry-meta">
                            <span class="cat-links">
                                <a href="http://themes.pixelwars.org/theblogger/john/category/life/" rel="category tag">Life</a>
                                <a href="http://themes.pixelwars.org/theblogger/john/category/travel/" rel="category tag">Travel</a>
                            </span>
                        </div>
                    </header>
                    <div class="information">
                        <h2 class="entry-title">
                            What Make You Awake
                        </h2>
                        <a class="more-link btn btn-outline-light" href="http://themes.pixelwars.org/theblogger/john/what-make-you-awake/">
                            Ver Más </a>
                    </div>
                </div>
                <div class="block" style="background-image: url(http://themes.pixelwars.org/theblogger/john/wp-content/uploads/sites/14/2016/08/13-550x550.jpg);">
                    <header class="entry-header ready">
                        <div class="entry-meta">
                            <span class="cat-links">
                                <a href="http://themes.pixelwars.org/theblogger/john/category/life/" rel="category tag">Life</a>
                                <a href="http://themes.pixelwars.org/theblogger/john/category/travel/" rel="category tag">Travel</a>
                            </span>
                        </div>
                    </header>
                    <div class="information">
                        <h2 class="entry-title">
                            What Make You Awake
                        </h2>
                        <a class="more-link btn btn-outline-light" href="http://themes.pixelwars.org/theblogger/john/what-make-you-awake/">
                            Ver Más </a>
                    </div>
                </div>
                <div class="block" style="background-image: url(http://themes.pixelwars.org/theblogger/john/wp-content/uploads/sites/14/2016/08/13-550x550.jpg);">
                    <header class="entry-header ready">
                        <div class="entry-meta">
                            <span class="cat-links">
                                <a href="http://themes.pixelwars.org/theblogger/john/category/life/" rel="category tag">Life</a>
                                <a href="http://themes.pixelwars.org/theblogger/john/category/travel/" rel="category tag">Travel</a>
                            </span>
                        </div>
                    </header>
                    <div class="information">
                        <h2 class="entry-title">
                            What Make You Awake
                        </h2>
                        <a class="more-link btn btn-outline-light" href="http://themes.pixelwars.org/theblogger/john/what-make-you-awake/">
                            Ver Más </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- /.container -->
{/entry}