<aside class="col-md-4 blog-sidebar">
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Acerca de
            <i class="fa fa-question-circle pull-right" aria-hidden="true"></i>
        </h4>
        <p class="mb-0">Jule de Hule es un espacio experimental y de exploración para mi entusiasta cuentista. No pretendo ser un experto ni mucho menos un entendido en el tema.</p>
    </div>

    <div class="p-3">
        <h4 class="font-italic">Categorías</h4>
        <ol class="jh-list list-unstyled mb-0">
            {cats}
            <li>
                <a href="/busqueda/categoria/{friendly_url}">{name}</a>
            </li>
            {/cats}
        </ol>
    </div>
</aside>
<!-- /.blog-sidebar -->